export ZDOTDIR=~/.config/zsh
export SYSTEMD_EDITOR=nvim
export WORKON_HOME=/data/envs

export AIRQIP={{ .airq_ip }}
export AIRQMDNS={{ .airq_mdns }}
export AIRQPASS={{ .airq_pass }}
export AIRQDATA=/data/projects/airq/data
