# ~/.profile: executed by the command interpreter for login shells.
# This file is not read by bash(1), if ~/.bash_profile or ~/.bash_login
# exists.
# see /usr/share/doc/bash/examples/startup-files for examples.
# the files are located in the bash-doc package.

# the default umask is set in /etc/profile; for setting the umask
# for ssh logins, install and configure the libpam-umask package.
#umask 022

# BASIC
export TERMINAL=kitty
export EDITOR=/usr/bin/vim
export XDG_CONFIG_HOME="$HOME/.config"

# PATH
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi
# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ] ; then
    PATH="$HOME/.local/bin:$PATH"
fi
export PATH="$HOME/.cargo/bin:$PATH"
{{- if eq .chezmoi.hostname "renat-pc" }}
export PATH="$HOME/soft/mrtrix3/bin:$PATH"
{{- end }}

# Python
# Marrying system wide python with vim-virtualenv
export PYTHONPATH=$PYTHONPATH:~/.local/bin
# Python projects
export PYSWI_HOME=~/.pyswi
export PYQSM_HOME=$PYSWI_HOME

# Custom
export BIOMED1={{ .path_biomed1 }}
export DACH_DIR={{ .path_graz }}
export PATH="$DACH_DIR/scripts/pygraz2/bin:$PATH"
{{- if eq .chezmoi.hostname "renat-pc" }}
export LEDGER_FILE=$HOME/budget/2020.ledger
{{- end }}
{{- if eq .chezmoi.hostname "p180380" }}
export MedPhysMatlabFramework=/data/projects/dev-matlab-framework/scripts/git/renat/MATLAB_MRI_Framework
{{- end }}

# vim:ft=sh
