alias ls='ls --color=auto'
alias ll='ls -aloFh'
alias lt='ls -altorFh'

alias vrc='vim ~/.vimrc'
alias vhl='vim ~/.hledger.journal'
alias cdg='cd {{ .graz_path }}'
alias ev=evince
alias za=zathura
alias cz=chezmoi
