alias ls='ls --color=auto'
alias ll='ls -aloFh'
alias lt='ls -altorFh'

alias vrc='vim ~/.vimrc'
alias cdg='cd {{ .path_graz }}'
alias cda='cd {{ .path_graz }}/data/subjs_all'
alias cds='cd {{ .path_graz }}/data/subjs_all/jen-0010588044-20180119/'
alias cdbl="cd $BATCH_LOG_DIR"
alias cdss='cd ~/Pictures/screenshots'
{{- if eq .chezmoi.hostname "p180380" }}
alias cdb='cd {{ .path_bergen }}'
alias cdl='cd {{ .path_leipzig }}'
alias cde='cd /data/exchange/renat'
alias cdw='cd /data/edocs/Workshops\ und\ Seminare/2019/Biomedical_Imaging_Ionizing\ radiation_WiSe_2019_2020'
alias ssh='kitty +kitten ssh'
alias c37='conda activate rs_py37'
alias jlp='jupyter lab --no-browser --port'
{{- end }}
alias ev=evince
alias za=zathura
alias cz=chezmoi
alias sxiv="sxiv -o" # never know when to expect smth interesting


{{- if eq .chezmoi.hostname "renat-pc" }}
alias cdq="cd ~/soft/qmk_firmware"
alias cdt="cd ~/Documents/biomed"
alias vkm="vim ~/soft/qmk_firmware/keyboards/keebio/iris/keymaps/sibgatulin/keymap.c"
alias vhl='vim $LEDGER_FILE'
{{- end }}
