alias ls='ls --color=auto'
alias ll='ls -aloFh'
alias lt='ls -altorFh'

alias vrc='vim ~/.vimrc'
alias vhl='vim ~/.hledger.journal'
alias cdg='cd {{ .path_graz }}'
alias cds='cd {{ .path_graz }}/data/subjs_all/jen-0010588044-20180119/'
{{- if eq .chezmoi.hostname "p180380" }}
alias cdb='cd {{ .path_bergen }}'
alias cdl='cd {{ .path_leipzig }}'
alias cdw='cd /data/edocs/Workshops\ und\ Seminare/2019/Biomedical_Imaging_Ionizing\ radiation_WiSe_2019_2020'
{{- end }}
alias ev=evince
alias za=zathura
alias cz=chezmoi
