include ./gruvbox_dark.conf
enable_audio_bell no
map ctrl+shift+plus change_font_size all +2.0
map ctrl+shift+enter new_window_with_cwd
font_family Fira Mono
bold_font Fira Mono Bold
italic_font Fira Mono Regular Italic
font_size {{ .kitty_font_size }}
