{{- if eq .chezmoi.hostname "renat-pc" }}
[module/mpd]
type = internal/mpd
host = 127.0.0.1
port = 6600
format-online =  <label-song>
label-song = %title% - %artist%

icon-prev = ⏮
icon-stop = ⏹
icon-play = ⏵
icon-pause = ⏸
icon-next = ⏭

label-song-maxlen = 30
label-song-ellipsis = true

[module/bluetooth]
type = custom/script
exec = ~/.local/bin/system-bluetooth-bluetoothctl.sh &
tail = true
click-left = ~/.local/bin/system-bluetooth-bluetoothctl.sh --toggle &
click-right = ~/.local/bin/system-bluetooth-bluetoothctl.sh --prep &

[module/alsa]
type = internal/alsa
format-volume = <ramp-volume> <label-volume>
label-volume = %percentage:3%%
label-muted = " -- "
format-muted-foreground = ${xrdb:color9}

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
ramp-volume-foreground = ${colors.foreground-alt}

[module/wlan]
type = internal/network
interface = wlp7s0
interval = 3.0

format-connected = <ramp-signal> <label-connected>
label-connected =  %essid%

ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
; ramp-signal-0 = ▁▁▁▁
; ramp-signal-1 = ▁▂▃▄
; ramp-signal-2 = ▁▂▄▅
; ramp-signal-3 = ▁▂▄▆
ramp-signal-foreground = ${colors.foreground-alt}

[module/battery]
type = internal/battery
battery = BAT0
adapter = ADP0
full-at = 98

label-charging = %percentage%% 
label-discharging-foreground = ${xrdb:color9}
format-charging = <ramp-capacity> <label-charging>
format-discharging = <ramp-capacity> <label-discharging>

format-full-prefix = " "
format-full-prefix-foreground = ${colors.foreground-alt}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-foreground = ${colors.foreground-alt}

{{- end}}

[module/xkeyboard]
type = internal/xkeyboard
format = <label-layout> <label-indicator>
blacklist-0 = num lock
blacklist-1 = scroll lock
label-indicator-on-capslock = CL
label-indicator-off-capslock = "  "

format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}

label-layout = %layout%

label-indicator-padding = 2
label-indicator-margin = 1

[module/bspwm]
type = internal/bspwm

label-focused = %name%
label-focused-background = ${colors.background-alt}
label-focused-padding = 1

label-occupied = %name%
label-occupied-padding = 1

label-urgent = %name%!
label-urgent-background = ${colors.alert}
label-urgent-padding = 1

label-empty = %name%
label-empty-foreground = ${colors.foreground-alt}
label-empty-padding = 1

[module/cpu]
type = internal/cpu
interval = 2
; format-prefix = "CPU "
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
label = %percentage:2%%

[module/memory]
type = internal/memory
interval = 2
format-prefix = "MEM "
format-prefix-foreground = ${colors.foreground-alt}
label = %gb_free%

[module/swap]
type = internal/memory
interval = 2
format-prefix = "SWAP "
format-prefix-foreground = ${colors.foreground-alt}
label = %gb_swap_used%

[module/date]
type = internal/date
interval = 5
date = "%a %d. %b"

format-prefix-foreground = ${colors.foreground-alt}
format-prefix = " "
label = %date%

[module/time]
type = internal/date
interval = 5
time = %H:%M

format-prefix-foreground = ${colors.foreground-alt}
format-prefix = " "
label = %time%

{{- if eq .chezmoi.hostname "p180380" }}
[module/ethernet]
type = internal/network
interface = eth1
interval = 3.0

format-connected-prefix = " "
format-connected-prefix-foreground = ${colors.foreground-alt}
label-connected = %local_ip%

format-disconnected =
{{- end}}

; vim:ft=dosini
