[module/xwindow]
type = internal/xwindow
label = %title:0:20:...%

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock
blacklist-1 = scroll lock

format-prefix =
format-prefix-foreground = ${colors.foreground-alt}
format-prefix-underline = ${xrdb:color9:#e60053}

label-layout =  %layout%
label-layout-underline = ${xrdb:color9:#e60053}

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.secondary}
label-indicator-underline = ${colors.secondary}

[module/bspwm]
type = internal/bspwm

label-focused = %name%
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 1

label-occupied = %name%
label-occupied-padding = 1

label-urgent = %name%!
label-urgent-background = ${colors.alert}
label-urgent-padding = 1

label-empty = %name%
label-empty-foreground = ${colors.foreground-alt}
label-empty-padding = 1

[module/mpd]
type = internal/mpd
host = 127.0.0.1
port = 6600
format-online = <label-song>

icon-prev = ⏮
icon-stop = ⏹
icon-play = ⏵
icon-pause = ⏸
icon-next = ⏭

label-song-maxlen = 50
label-song-ellipsis = true

[module/cpu]
type = internal/cpu
interval = 2
; format-prefix = "CPU "
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
format-underline = ${xrdb:color6:#f90000}
label = %percentage:2%%

[module/memory]
type = internal/memory
interval = 2
format-prefix = "MEM "
format-prefix-foreground = ${colors.foreground-alt}
format-underline = ${xrdb:color1:#4bffdc}
label = %gb_free%

[module/swap]
type = internal/memory
interval = 2
format-prefix = "SWAP "
format-prefix-foreground = ${colors.foreground-alt}
format-underline = ${xrdb:color9:#4bffdc}
label = %gb_swap_used%

[module/wlan]
type = internal/network
interface = wlp7s0
interval = 3.0

format-connected = <label-connected> <ramp-signal>
format-connected-underline = ${xrdb:color5:#9f78e1}
label-connected =  %essid%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}

ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
; ramp-signal-0 = ▁▁▁▁
; ramp-signal-1 = ▁▂▃▄
; ramp-signal-2 = ▁▂▄▅
; ramp-signal-3 = ▁▂▄▆
ramp-signal-foreground = ${colors.foreground-alt}

{{- if eq .chezmoi.hostname "p180380" }}
[module/{{ .poly_mod_internet }}]
type = internal/network
interface = eth1
interval = 3.0

format-connected-underline = ${xrdb:color5:#55aa55}
format-connected-prefix = " "
format-connected-prefix-foreground = ${colors.foreground-alt}
label-connected = %local_ip%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}
{{- end}}

[module/date]
type = internal/date
interval = 5

date = "%a %d. %b"
date-alt = " %Y-%m-%d"

time = %H:%M
time-alt = %H:%M:%S

format-prefix =
format-prefix-foreground = ${colors.foreground-alt}
format-underline = ${xrdb:color2:#0a6cf5}

label =  %date% |  %time%

[module/battery]
type = internal/battery
battery = BAT0
adapter = ADP0
full-at = 98

label-charging = %percentage%% 
format-charging = <ramp-capacity> <label-charging>
format-charging-underline = ${xrdb:color3:#ffb52a}

format-discharging = <ramp-capacity> <label-discharging>
format-discharging-underline = ${self.format-charging-underline}

format-full-prefix = 
format-full-prefix-foreground = ${colors.foreground-alt}
format-full-underline = ${self.format-charging-underline}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-foreground = ${colors.foreground-alt}

; vim:ft=dosini
