set $alt Mod1

$bindsym $alt+u+a exec unmount_external.sh --all
$bindsym $alt+u+e exec unmount_external.sh --vend WD
$bindsym $alt+m exec $term --class ncmpcpp ncspot
$bindsym $alt+f exec pcmanfm
$bindsym $alt+p exec keepassxc
$bindsym $alt+v exec toggle_vpn.sh {{ .default_vpn }}
