# regolith like
super + Return
	$TERMINAL
super + shift + Return
	/usr/bin/sensible-browser
super + space
	rofi -show drun
super + shift + space
	rofi -show run
super + ctrl + space
	rofi -show window

alt + z
    	zotero
alt + n
	/usr/bin/nautilus
alt + c
	$TERMINAL calcurse
{{- if eq .chezmoi.hostname "renat-pc" }}
alt + d
        surf duckduckgo.com
alt + f
        tabbed -c surf -e &
alt + k
	$TERMINAL --name hint less {{ .chezmoi.homedir }}/soft/qmk_firmware/keyboards/keebio/iris/keymaps/sibgatulin/keymap.c
alt + s
	$TERMINAL spt
alt + m
        $TERMINAL ncmpcpp
alt + r
        killall spotifyd; spotifyd --config-path ~/.config/spotifyd/config
{{- end}}
alt + h
        killall sxhkd; setsid sxhkd &
alt + p
        ~/.config/polybar/launch.sh
# quit/restart bspwm
super + shift + r
	bspc wm -r
super + shift + e
	bspc quit
super + {_, shift +} q
	bspc node -{c,k}
super + {_,shift + }{h,j,k,l}
	bspc node -{f,s} {west,south,north,east}

# alternate between the tiled and monocle layout
super + m
	bspc desktop -l next

# set the window state
super + {t,shift + t,s,f}
	bspc node -t {tiled,pseudo_tiled,floating,fullscreen}
# focus or send to the given desktop
super + {_,shift + }{1-9,0}
	bspc {desktop -f,node -d} '^{1-9,10}'
super + ctrl + {_,shift + }{1,2,3,4,5,6,7,8,9,0}
	bspc {desktop -f,node -d} {11,12,13,14,15,16,17,18,19,20}

# move/resize

# expand a window by moving one of its side outward
super + ctrl + {h,j,k,l}
	bspc node -z {left -20 0,bottom 0 20,top 0 -20,right 20 0}

# contract a window by moving one of its side inward
super + ctrl + shift + {h,j,k,l}
	bspc node -z {right -20 0,top 0 20,bottom 0 -20,left 20 0}

# move a floating window
super + {Left,Down,Up,Right}
	bspc node -v {-20 0,0 20,0 -20,20 0}

# Volume up and down
XF86AudioLowerVolume
	amixer sset Master 5%-

XF86AudioRaiseVolume
	amixer sset Master 5%+

XF86AudioMute
	amixer -D pulse sset Master toggle

Print
	scrot $HOME/'Pictures/screenshots/%Y-%m-%d_%H%M%S_$wx$h_screenshot.png'

# focus the last window
alt + Tab
	bspc node -f prev.local


# Swap this windows with the last focused
super + Tab
	bspc node -s last

# Cycle through the focus history
super + {n,p}
	bspc node -f {next,prev}

# Flip desctop orientation by 90°
super + BackSpace
	bspc node @/ -R 90

{{- if eq .chezmoi.hostname "renat-pc" }}
# Force xrandr to use HDMI and restart bspdm
super + shift + d
        $HOME/.config/bspwm/hdmi_plugin.sh
{{- end}}
