# BSPWM
super + shift + r
    bspc wm -r
super + shift + e
    bspc quit
super + {_, shift +} q
    bspc node -{c,k}
super + {_,shift + }{h,j,k,l}
    bspc node -{f,s} {west,south,north,east}
super + m
    bspc desktop -l next
super + {t,shift + t,s,f}
    bspc node -t {tiled,pseudo_tiled,floating,fullscreen}
# focus or send to the given desktop
super + {_,shift + }{1-9,0}
    bspc {desktop -f,node -d} '^{1-9,10}'
super + mode_switch + {_,shift + }{1,2,3,4,5,6,7,8,9,0}
    bspc {desktop -f,node -d} {11,12,13,14,15,16,17,18,19,20}

# move/resize

# expand a window by moving one of its side outward
super + ctrl + {h,j,k,l}
    bspc node -z {left -20 0,bottom 0 20,top 0 -20,right 20 0}

# contract a window by moving one of its side inward
super + ctrl + shift + {h,j,k,l}
    bspc node -z {right -20 0,top 0 20,bottom 0 -20,left 20 0}

# move a floating window
super + {Left,Down,Up,Right}
    bspc node -v {-20 0,0 20,0 -20,20 0}

# focus the last window
alt + Tab
    bspc node -f prev.local

# Cycle through the focus history
super + {n,p}
    bspc node -f {next,prev}

# Flip desctop orientation by 90°
super + backslash
    bspc node @/ -R 90

# REGOLITH LIKE
super + Return
    $TERMINAL
super + shift + Return
    $BROWSER
super + space
    rofi -show drun
super + shift + space
    rofi -show run
super + ctrl + space
    rofi -show window

# PERSONAL
alt + z
    zotero
alt + f
    $TERMINAL vifm
alt + n
    $FILE_MANAGER
alt + c
    $TERMINAL calcurse
alt + i
    $TERMINAL --name hint ~/.local/bin/show_keeb_layout.sh iris
alt + k
    $TERMINAL --name hint ~/.local/bin/show_keeb_layout.sh kyria
alt + x
    setxkbmap -option grp:alt_shift_toggle eu,de,gr,ru &
alt + u
    unmount_seagate.sh
alt + h
    killall sxhkd; setsid sxhkd &
alt + p
    ~/.config/polybar/launch.sh
Print
    scrot $HOME/'Pictures/screenshots/%Y-%m-%d_%H%M%S_$wx$h_screenshot.png'

{{- if eq .chezmoi.hostname "ideapad" }}
# Force xrandr to use HDMI and restart bspdm
super + shift + d
    $HOME/.config/bspwm/hdmi_plugin.sh
alt + t ; m
    copy_ts_id.sh mom
alt + t ; d
    copy_ts_id.sh dad
alt + m
    $TERMINAL --name music ncmpcpp
alt + r
    killall spotifyd; spotifyd --config-path ~/.config/spotifyd/config
alt + a
    $TERMINAL alsamixer -c 0
# Volume up and down
XF86AudioRaiseVolume
    amixer sset Master 5%+
XF86AudioLowerVolume
    amixer sset Master 5%-
XF86AudioMute
    # amixer -D pulse sset Master toggle
    amixer sset Master toggle

alt + XF86AudioRaiseVolume
# XF86MonBrightnessUp # doesn't seem to send any codes / trigger any acpi events
    xbacklight -inc 10
alt + XF86AudioLowerVolume
# XF86MonBrightnessDown # doesn't seem to send any codes / trigger any acpi events
    xbacklight -dec 10
{{- end}}
